@charset "UTF-8";
@import "./bootstrap.min.css";
@import "./bootstrap-select.min.css";
@import "./daterangepicker.css";
@import "fonts.css";
.font-size-30 {
  font-size: 30px;
}

.font-size-26 {
  font-size: 26px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-12 {
  font-size: 12px;
}

.font-weight-400 {
  font-weight: 400 !important;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.font-weight-700 {
  font-weight: 700 !important;
}

.font-style-italic {
  font-style: italic;
}

.bg-primary {
  background-color: #1A205A !important;
}

.bg-info {
  background-color: #E3E4FF !important;
}

.bg-light {
  background-color: #F6F6FC !important;
}

.bg-secondary {
  background-color: #F5F6FC !important;
}

.bg-danger {
  background-color: #E84358 !important;
}

.bg-success {
  background-color: #60B355 !important;
}

.text-indigo {
  color: #1A205A;
}

.text-purple {
  color: #838BC5;
}

.text-violet {
  color: #6266EA;
}

.text-lavander {
  color: #CCCDEB;
}

.text-success {
  color: #60B355 !important;
}

.text-danger {
  color: #E84358 !important;
}

.text-muted {
  color: #7E8097 !important;
}

.text-secondary {
  color: #ACACC8 !important;
}

.pt-80px {
  padding-top: 80px;
}

.pb-34px {
  padding-bottom: 34px;
}

.mt-84x {
  margin-top: 84px;
}

.cursor-pointer {
  cursor: pointer;
}

body {
  font-family: "Rubik", sans-serif;
  background-image: url("../images/mission_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

h1 {
  font-weight: 700;
  font-size: 46px;
  color: #FFFFFF;
}

h2 {
  font-size: 22px;
  color: #60B355 !important;
}

h3 {
  font-size: 16px;
  color: #6266EA !important;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 350px;
  max-width: 350px;
  min-height: 100vh;
  position: relative;
  background: #F6F6FC;
  color: #1A205A;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin: 48px 0;
  transition: all 0.3s;
}
#sidebar .sidebar-header {
  padding: 36px 45px 0px;
  background: #F6F6FC;
  border-top-right-radius: 20px;
}
#sidebar ul.components {
  padding: 20px;
  list-style: none;
}
#sidebar ul p {
  color: #1A205A;
  padding: 10px;
}

#sidebar ul li a {
  padding: 17px 20px;
  font-weight: 400;
  font-size: 16px;
  display: block;
}
#sidebar ul li a:hover {
  background: #1A205A;
  color: #FFFFFF;
  border-radius: 15px;
}

#sidebar ul li.active > a,
a[aria-expanded=true] {
  background: #1A205A;
  color: #FFFFFF;
  border-radius: 15px;
}

#sidebar .sidebar-icon::before {
  color: #1A205A;
  font-size: 30px;
}

#sidebar .active .sidebar-icon::before {
  color: #FFFFFF !important;
}

#sidebar ul li a:hover .sidebar-icon::before {
  color: #FFFFFF !important;
}

#sidebar.active {
  min-width: auto;
  max-width: auto;
  width: auto;
  transition: all 1s;
}
#sidebar.active .expanded-view-only {
  display: none;
}
#sidebar.active .list-unstyled {
  margin-top: 125px;
}
#sidebar.active .toggle-button {
  right: auto;
}

@media (max-width: 991px) {
  #sidebar {
    display: none;
  }

  #sidebar ul li.active > a,
a[aria-expanded=true] {
    background: transparent;
  }
}
.navbar-wrapper {
  padding-top: 97px;
  padding-bottom: 26px;
}

@media (max-width: 991px) {
  .navbar-wrapper {
    padding-top: 0;
    padding-bottom: 26px;
  }
}
.navbar-toggler:focus {
  box-shadow: none;
}

a[data-toggle=collapse] {
  position: relative;
}

.dropdown-toggle::after {
  display: none;
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
}

.dropstart .dropdown-toggle-split::before {
  display: none;
}

.navbar-toggler.toggle-button {
  background: transparent !important;
  border: none !important;
  position: absolute;
  top: 0;
  right: 0;
}

.navbar-dropdown .dropdown-toggle::after {
  position: absolute;
  top: 40%;
  right: -8px;
  transform: translateY(-50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: url("../images/dropdown-icon.svg") no-repeat;
}

.dropdown-item .sidebar-icon::before {
  color: #1A205A;
  font-size: 20px;
}

.animated-icon {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.animated-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  background: #6266EA;
}

.animated-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.animated-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
}

.animated-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.animated-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
}

.btn-primary {
  background-color: #6266EA !important;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 5px 52px;
  min-width: 165px;
}
.btn-primary:hover {
  box-shadow: 0px 3px 12px #6266EA;
}

.btn-success {
  background-color: #60B355 !important;
  color: #FFFFFF;
  border-radius: 10px;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  padding: 5px 52px;
  min-width: 165px;
}
.btn-success:hover {
  box-shadow: 0px 3px 12px #60B355;
}

.btn:focus {
  box-shadow: none;
}

#content {
  width: 100%;
}

.border-radius-20px {
  border-radius: 20px;
}

.border-radius-10px {
  border-radius: 10px;
}

.border-1 {
  border: 1px solid #DFDFE8;
}

.border-2 {
  border: 2px solid #DFDFE8;
}

.border-3 {
  border: 1px solid #ACACC8;
  border-width: 1px !important;
}

.border-4 {
  border: 2px solid #E3E4FF;
  border-width: 2px !important;
}

.progress-bar {
  background: linear-gradient(180deg, #6266EA 0%, #3540AB 100%);
  border-radius: 5px;
}

table .transactions-table td {
  border-bottom: none;
  font-weight: 500;
  font-size: 16px;
  color: #1A205A;
}

.table > thead {
  border-bottom: 2px solid #E1E1EE !important;
}

table.table-default {
  color: #6266EA !important;
}
table.table-default td {
  font-weight: 400;
  font-size: 14px;
  color: #1A205A;
  border-bottom: none;
}

.table-primary {
  --bs-table-bg: #E1E1EE!important;
  color: #1A205A !important;
  border-radius: 5px;
}

tbody:before {
  content: "";
  display: block;
  line-height: 1em;
  color: transparent;
  margin: 14px;
}

.list-group-item {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #DFDFE8;
  font-size: 16px;
  font-weight: 500;
  color: #ACACC8;
}

.dropdown-icon-active::before {
  color: #7E8097;
}

.dropdown-menu {
  background: #F5F6FC;
  border: 1px solid #ACACC8;
  box-sizing: border-box;
  border-radius: 10px;
}
.dropdown-menu .dropdown-item {
  font-weight: 400;
  font-size: 16px;
  color: #1A205A;
  cursor: pointer;
}
.dropdown-menu .dropdown-item:hover {
  color: #FFFFFF;
  background: #6266EA;
}
.dropdown-menu .dropdown-item:hover .sidebar-icon:before {
  color: #FFFFFF;
}

.arrow-next {
  background: #FFFFFF;
  box-shadow: -2px 5px 32px rgba(7, 7, 7, 0.15);
  border-radius: 12px;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.arrow-style::before {
  color: #6266EA;
}

.badge {
  font-weight: 400;
  font-size: 12px;
}

.user-img {
  width: 70px;
  height: 70px;
}

.notifications-style {
  background-color: #F5F6FC;
  width: 48px;
  height: 48px;
  border-radius: 10px;
}

.dropdown-menu .dropdown-item:hover .icon-delete::before {
  color: #FFFFFF !important;
}

.navbar-light .navbar-toggler {
  border: none !important;
  color: transparent;
}

.form-label {
  color: #7E8097;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 0;
}

.form-control {
  background: #F6F6FC;
  border: 1px solid #ACACC8;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 7px;
}

textarea.form-control {
  resize: none;
}

.form-control::placeholder {
  color: #ACACC8;
  opacity: 1;
}

.btn-light {
  background: #F5F6FC;
  border: 1px solid #ACACC8 !important;
  color: #ACACC8 !important;
  box-sizing: border-box;
  border-radius: 10px;
}
.btn-light:hover {
  background: #F5F6FC;
}

.bootstrap-select .dropdown-menu .dropdown-item {
  font-weight: 400;
  font-size: 16px;
  color: #ACACC8;
}
.bootstrap-select .dropdown-item.active,
.bootstrap-select .bootstrap-select .dropdown-item:active,
.bootstrap-select .bootstrap-select .dropdown-menu .dropdown-item:hover {
  color: #FFFFFF;
  background-color: #60B355;
}
.bootstrap-select .dropdown-toggle .filter-option-inner-inner {
  padding: 1px;
}
.bootstrap-select .dropdown-toggle::after {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  background: url("../images/dropdown-icon.svg") no-repeat;
}
.bootstrap-select .dropdown-toggle:focus,
.bootstrap-select .bootstrap-select > select.mobile-device:focus + .dropdown-toggle {
  outline: none !important;
}
.bootstrap-select .dropdown-menu .dropdown-item:hover {
  color: #FFFFFF;
  background-color: #60B355;
}

.dropdown-item.selected {
  background-color: #60B355;
  color: #FFFFFF !important;
}

.transactions-table.table > thead {
  background: #E7E8FA;
  border-radius: 5px;
  color: #6266EA;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
}

.transactions-table.table > :not(caption) > * > * {
  border-bottom: none;
}

.transactions-table.table td {
  font-weight: 400;
  font-size: 14px;
  color: #1A205A;
}

.copy-clipboard .form-control {
  background: #E3E4FF;
  border-radius: 10px;
  border: none;
}
.copy-clipboard .form-control::placeholder {
  color: #838BC5;
  opacity: 1;
}
.copy-clipboard .btn {
  background: #838BC5;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.page-link {
  background: transparent;
  color: #ACACC8;
  border: none;
  font-weight: 500;
  font-size: 12px;
}
.page-link.active {
  border-radius: 50%;
  background-color: #6266EA !important;
  color: #FFFFFF !important;
  outline: none;
  box-shadow: none;
}

.page-link:focus {
  box-shadow: none;
}

.page-link:hover {
  color: #6266EA !important;
  outline: none;
  box-shadow: none;
}

.page-item:first-child .page-link {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.modal-content {
  background: #F6F6FC;
  border-radius: 20px;
}
.modal-content .modal-header {
  border-bottom: none;
}
.modal-content .modal-footer {
  border-top: none;
  justify-content: center;
}

.daterange-style::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 22px;
  height: 22px;
  background: url("../images/date-period-icon.svg") no-repeat;
}

.daterange-position::before {
  content: "";
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -24px;
  width: 22px;
  height: 22px;
  background: url("../images/date-period-icon.svg") no-repeat;
}

.border-bottom {
  border-bottom: 1px solid #E1E1EE !important;
}

.accordion-flush .accordion-item {
  border-radius: 10px;
  border-bottom: 0;
  border-top: 0;
  margin-bottom: 4px;
}
.accordion-flush .accordion-item .accordion-button {
  background: #F6F6FC;
  border: 1px solid #E1E1EE;
  border-radius: 10px;
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  color: #1A205A;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 9px 12px;
}
.accordion-flush .accordion-item .accordion-button:focus {
  box-shadow: none;
}
.accordion-flush .accordion-item .accordion-button::after {
  margin-left: 27px;
  font-size: 20px;
  color: #ACACC8;
  background-image: none;
  content: "+";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
}
.accordion-flush .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.accordion-flush .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: none;
  content: "−";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.accordion-flush .accordion-item .accordion-body {
  background: #F6F6FC;
  border: 1px solid #E1E1EE;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
