$indigo-color: #1A205A;
$blue-violet-color: #6266EA;
$medium-purple-color: #838BC5;
$lavander-color: #CCCDEB;
$ghost-white-color: #E3E4FF;
$gray-color: #7E8097;
$light-gray-color: #DFDFE8;
$crimson-color: #E84358;
$green-color: #60B355;
$white-smoke-color: #F6F6FC;
$white-color: #FFFFFF;
$font-size-46: 46px;
$font-size-30: 30px;
$font-size-26: 26px;
$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;
$font-size-14: 14px;
$font-size-12: 12px;